.pattern-maker {
    display: flex;
}

.color-cell-row, .x-row {
    display: flex;
}

.cell {
    border: 1px solid grey;
    width: 15px;
    height: 15px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.selected {
    border: 2px solid blue;
}

.selected-main {
    border: 2px solid #39FF14;
}

.top {
    border-top: 2px solid black;
}

.bottom {
    border-bottom: 2px solid black;
}

.left {
    border-left: 2px solid black;
}

.right {
    border-right: 2px solid black;
}
