.pattern-maker {
    display: flex;
}

body {
    overflow: visible;
}

.color-cell-row, .x-row {
    display: flex;
}

.cell {
    border: 1px solid grey;
    width: 15px;
    height: 15px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.selected {
    border: 2px solid blue;
}

.selected-main {
    border: 2px solid #39FF14;
}

.top {
    border-top: 2px solid black;
}

.bottom {
    border-bottom: 2px solid black;
}

.left {
    border-left: 2px solid black;
}

.right {
    border-right: 2px solid black;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

.modal.print {
    position: static; /* Stay in place */
    z-index: 3; /* Sit on top */
    width: auto;
    height: auto;
    overflow: visible!important;
    
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content.instruction {
    width: 400px;
    height: auto;
    overflow: auto;
    overflow-wrap: normal;
    z-index: 2; /* Sit on very very top */
}

.modal-content.print {
    position: static; /* Stay in place */
    margin: 0;
    z-index: 3; /* Sit on very very top */
    border: none;
    width: auto;
    height: auto;
}

.question-icon {
    color: blue;
    padding-left: 2px;
    padding-right: 2px;
}

.question-icon:hover {
    color: purple;
    cursor: pointer;
}

@media print {
    div { page-break-after:auto; page-break-inside:avoid; };
    td {page-break-inside:avoid;};
}